@font-face {
    font-family: 'ecoicon';
    src:url('../fonts/ecoicons/ecoicon.eot');
    src:url('../fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ecoicons/ecoicon.woff') format('woff'),
    url('../fonts/ecoicons/ecoicon.ttf') format('truetype'),
    url('../fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
    font-weight:normal;
    font-style: normal;
}

.hi-icon-wrap {
    text-align: center;
}


.hi-icon {

    display: inline-block;
    font-size: 0px;
//cursor:none;
    margin: 0px 0px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
//color: #DCDCDC;
//color: #ff0000;
}

.hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    opacity: 0;
    transform: scale(1.2);
}

.hi-icon:before {
    font-family: 'ecoicon';
    speak: none;
    font-size: 80px;
    line-height: 130px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

.hi-icon-mobile:before {
    content: "\e009";

}

.hi-icon-screen:before {
    content: "\e00a";
}

.hi-icon-earth:before {
    content: "\e002";
}

.hi-icon-support:before {
    content: "\e000";
}

.hi-icon-locked:before {
    content: "\e001";
}

.hi-icon-cog:before {
    content: "\e003";
}

.hi-icon-clock:before {
    content: "\e004";




}

.hi-icon-videos:before {
    content: "\e005";
}

.hi-icon-list:before {
    content: "\e006";
}

.hi-icon-refresh:before {
    content: "\e007";
}

.hi-icon-images:before {
    content: "\e008";
}

.hi-icon-pencil:before {
    content: "\e00b";
}

.hi-icon-link:before {
    content: "\e00c";
}

.hi-icon-mail:before {
    content: "\e00d";
}

.hi-icon-location:before {
    content: "\e00e";
}

.hi-icon-archive:before {
    content: "\e00f";
}

.hi-icon-chat:before {
    content: "\e010";
}

.hi-icon-bookmark:before {
    content: "\e011";
}

.hi-icon-user:before {
    content: "\e012";
}

.hi-icon-contract:before {
    content: "\e013";
}

.hi-icon-star:before {
    content: "\e014";
}



/* Effect 3 */
.hi-icon-effect-3 .hi-icon {
    box-shadow: 0 0 0 8px #DCDCDC;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;

}

.hi-icon-effect-3 .hi-icon:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: #DCDCDC;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
    -moz-transition: -moz-transform 0.2s, opacity 0.3s;
    transition: transform 0.2s, opacity 0.3s;
}

/* Effect 3a */
.hi-icon-effect-3a .hi-icon {

    color: #DCDCDC;
}

.hi-icon-effect-3a .hi-icon:hover {

    color: #4682A0;
}

.hi-icon-effect-3a .hov1  {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

