* {
    margin: 0;
    padding: 0;
}

html
{
    //cursor:none;
}
body
{
	background-color: #e8e7e6;

	-webkit-user-select: none;
	margin:0;
	position:fixed;
}

.block{
    position: absolute;
    background: #8ebeda;
}

.block_border_bot{
    position: fixed;
    background: #384b9f;
    transform:skewX(45deg);
}

.block_border_rig{
    position: fixed;
    background: #384b9f;
    transform:skewY(45deg);
}
#nos{
    position: absolute;
    height: 300px;
    width: 300px;
    background: #901154;
}
#right_nf{
    left: 92%;
}
p {
    text-align: justify;
    margin:0;
    color:#DCDCDC;
}
p:after {content:""; display:inline-block; width:100%; height:0; overflow:hidden;}

